<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>OP IFrame</title>
</head>
<body>
{% if oa_params.oicdomains is defined%}
<script>
/*
 *
 * Server Side API
 *
 */
{# Get all allowed domains for sharing the session cookie #}
var snDomains = new Array(),
    counter = 0;
{% set oicdomains = oa_params.oicdomains|split(',') %}
{% for OpenIDConnectDomain in oicdomains %}
snDomains[counter] = '{{OpenIDConnectDomain|trim}}';
counter++;
{% endfor %}
{# Get all allowed domains for sharing the session cookie END #}

{# Check the postmessage from RP #}
window.addEventListener("message", function(event){
    var allowed = false;
    for (i = 0; i < snDomains.length; i++) {
        if (snDomains[i] == event.origin) {
            var parts = event.data.split(' ');
            //window.console.log('parts', parts);
            if (typeof parts[0] != 'undefined' && typeof parts[1] != 'undefined') {
                var client_id = parts[0],
                    session_state = parts[1];
                if (session_state != '' && client_id != '' &&
                    "{{session_state}}" == session_state && "{{clientId}}" == client_id) {
                    var state = 'unchanged';
                }
                else {
                    var state = '';
                }
                event.source.postMessage(state, event.origin);
            }
        }
    }
});
{# Check the postmessage from RP END #}
</script>
{% endif %}
</body>
</html>