<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>OP IFrame</title>
{% javascripts '@jquery' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
</head>
<body>
<script>
/*
 *
 * Server Side API
 *
 */
{# Check the postmessage from RP #}
var allowedDomains = new Array(),
    allowedCounter = 0;

{# Get all allowed domains for sharing the session cookie #}
{% if oa_params.oicdomains is defined %}
{% set oicdomains = oa_params.oicdomains|split(',') %}
{% for OpenIDConnectDomain in oicdomains %}
allowedDomains[allowedCounter] = '{{OpenIDConnectDomain|trim}}';
allowedCounter++;
{% endfor %}
{% endif %}
if (typeof allowedDomains != 'undefined' && allowedDomains.length > 0) {
    window.addEventListener("message", function(event){
        var domainIsAllowed = false;
        for (i = 0; i < allowedDomains.length; i++) {
            if (allowedDomains[i] == event.origin) {
                domainIsAllowed = allowedDomains[i];
                break;
            }
        }
        if (domainIsAllowed !== false) {
            window.console.log("OP antwortet: RP Anfrage von Domain '"+domainIsAllowed+"' ist erlaubt.");
            var parts = event.data.split(' ');
            if (typeof parts[0] != 'undefined' && typeof parts[1] != 'undefined') {
                var RPClientId = parts[0],
                    RPSessionState = parts[1];
                $.ajax({
                    type       : 'GET',
                    url        : '/xrowapi/v2/storage',
                    cache      : false
                }).done(function (storageRequest, textStatus, jqXHR) {
                    if (typeof storageRequest != 'undefined' && typeof storageRequest.result != 'undefined' && storageRequest.result.session_state != 'undefined') {
                        var OPSessionState = storageRequest.result.session_state,
                            OPClientID = "{{oa_params.clid}}";
                        //window.console.log("RP ClientId: "+RPClientId);
                        //window.console.log("RP AccessToken: "+RPSessionState);
                        //window.console.log("OP ClientId: "+OPClientID);
                        //window.console.log("OP AccessToken: "+OPSessionState);
                        if (RPSessionState != '' && RPClientId != '' && OPClientID == RPClientId && OPSessionState == RPSessionState) {
                            event.source.postMessage('unchanged', event.origin);
                        }
                        else {
                            event.source.postMessage('', event.origin);
                        }
                    }
                    else {
                        event.source.postMessage('', event.origin);
                    }
                }).fail(function (){
                    event.source.postMessage('', event.origin);
                });
            }
        }
        else {
            window.console.log("OP antwortet: RP Anfrage von Domain '"+event.origin+"' ist NICHT erlaubt.");
        }
    });
}
{# Check the postmessage from RP END #}
</script>
</body>
</html>